@model IQueryable<Product>

@foreach (var p in Model)
{
    <div>
        <h3>@p.ProductId</h3>
        <span>@p.Name</span>
        <span>@p.Thumbnail</span>
        <span>@p.Description</span>
        <span>@p.Price</span>
        @*<span>@p.</span>*@
    </div>
}
